@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  color: white;
  background-color: #1f1934;
}

main {
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
